danzup_flows.json
[{"id":"bd68083d.84e8c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"10cb3090.c7736f","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b81791fb.228a","type":"tab","label":"Termostat","disabled":false,"info":""},{"id":"2b00445d.d4bdcc","type":"tab","label":"Arduino-MQTT RGB control","disabled":false,"info":"# Description\n\nThis Node-RED flow is for Arduino-MQTT RGB control"},{"id":"c0d9d2a7.dbc33","type":"tab","label":"Mysql ","disabled":false,"info":""},{"id":"91bf89ad.a7a2d8","type":"ui_group","z":"","name":"Default","tab":"6abe49d8.2aa288","disp":true,"width":"6","collapse":false},{"id":"6abe49d8.2aa288","type":"ui_tab","z":"","name":"RGBW-LED","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"68b66974.056238","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9d963120.af1f6","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"63e68111.1adde","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"88e3ca13.ac0e38","type":"ui_tab","z":"","name":"Dormitor-etaj","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"57d95e7b.f3ce8","type":"ui_group","z":"","name":"Comenzi / on-off","tab":"88e3ca13.ac0e38","order":1,"disp":true,"width":"6","collapse":false},{"id":"aff0c2e1.e4814","type":"ui_group","z":"","name":"Afisaj","tab":"88e3ca13.ac0e38","order":2,"disp":true,"width":"6","collapse":false},{"id":"45bf3b7b.e7f874","type":"ui_tab","z":"","name":"Sufragerie-etaj","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"e631a219.162bc","type":"ui_group","z":"","name":"Comenzi / on-off","tab":"45bf3b7b.e7f874","order":1,"disp":true,"width":"6","collapse":false},{"id":"dead6efa.689f5","type":"ui_group","z":"","name":"Afisaj","tab":"45bf3b7b.e7f874","order":2,"disp":true,"width":"6","collapse":false},{"id":"9c4d134a.073a9","type":"ui_tab","z":"","name":"Camera-tehnica","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"45fba20e.f2022c","type":"ui_group","z":"","name":"Relee","tab":"9c4d134a.073a9","order":1,"disp":true,"width":"6","collapse":false},{"id":"1307f796.4f4c38","type":"ui_group","z":"","name":"Grafice","tab":"9c4d134a.073a9","order":4,"disp":true,"width":"6","collapse":false},{"id":"131f6c8c.b30563","type":"ui_group","z":"","name":"Afisaj","tab":"e25cc47a.5e75a8","order":2,"disp":true,"width":"6","collapse":false},{"id":"bf324b7e.966e88","type":"ui_group","z":"","name":"Grafice","tab":"e25cc47a.5e75a8","order":3,"disp":true,"width":"6","collapse":false},{"id":"604e8999.67a218","type":"ui_group","z":"","name":"Control Termostat","tab":"e25cc47a.5e75a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"e25cc47a.5e75a8","type":"ui_tab","z":"","name":"Termostat IOT","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"79a9b1f7.fdd09","type":"ui_group","z":"","name":"Afisaj  - Apa Calda","tab":"9c4d134a.073a9","order":2,"disp":true,"width":"6","collapse":false},{"id":"8727c03a.1ec8e","type":"ui_group","z":"","name":"Grafice","tab":"88e3ca13.ac0e38","order":3,"disp":true,"width":"6","collapse":false},{"id":"109d19dd.1591c6","type":"ui_group","z":"","name":"Grafice","tab":"45bf3b7b.e7f874","order":3,"disp":true,"width":"6","collapse":false},{"id":"1b91d119.3af46f","type":"ui_group","z":"","name":"LED Buttons","tab":"30f0c24c.0ce70e","order":2,"disp":true,"width":"6"},{"id":"efff20c.d77e9e","type":"ui_group","z":"","name":"Current LED State","tab":"30f0c24c.0ce70e","order":3,"disp":true,"width":"6"},{"id":"30f0c24c.0ce70e","type":"ui_tab","z":"","name":"LED Changes","icon":"dashboard","order":5},{"id":"a875ed11.84539","type":"ui_group","z":"","name":"Comenzi on-off","tab":"30f0c24c.0ce70e","order":1,"disp":true,"width":"6","collapse":false},{"id":"17a58c87.4cdd63","type":"ui_group","z":"","name":"Camera tehnica inauntru","tab":"9c4d134a.073a9","order":5,"disp":true,"width":"6","collapse":false},{"id":"c05434ff.47c0c8","type":"ui_group","z":"","name":"Centrala pe peleti","tab":"9c4d134a.073a9","order":3,"disp":true,"width":"6","collapse":false},{"id":"8cab72b7.28969","type":"ui_tab","z":"","name":"Parter","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"8be6089.7942cf8","type":"ui_group","z":"","name":"Camera cu scara","tab":"8cab72b7.28969","order":1,"disp":true,"width":"6","collapse":false},{"id":"8c9d7011.83a2d","type":"MySQLdatabase","z":"","name":"iot_sensor_data","host":"192.168.1.125","port":"3306","db":"iot_sensor_data","tz":"Europe/Bucharest"},{"id":"230ccdb0.f7d3d2","type":"inject","z":"10cb3090.c7736f","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":370,"y":440,"wires":[["17f014bd.6d77fb"]]},{"id":"17f014bd.6d77fb","type":"ui_slider","z":"10cb3090.c7736f","name":"","label":"White","tooltip":"","group":"91bf89ad.a7a2d8","order":2,"width":"1","height":"4","passthru":true,"outs":"all","topic":"sufragerie/RGBW_LED","min":0,"max":"255","step":1,"x":390,"y":500,"wires":[["9dc587b.3759b78"]]},{"id":"9dc587b.3759b78","type":"change","z":"10cb3090.c7736f","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.w","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":500,"wires":[["a178537f.06a9"]]},{"id":"a178537f.06a9","type":"join","z":"10cb3090.c7736f","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":730,"y":500,"wires":[["63a9a7c3.8d3fe8"]]},{"id":"23a9c116.f7930e","type":"ui_colour_picker","z":"10cb3090.c7736f","name":"","label":"RGB","group":"91bf89ad.a7a2d8","format":"rgb","outformat":"object","showSwatch":true,"showPicker":true,"showValue":true,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":1,"width":"5","height":"5","passthru":true,"topic":"sufragerie/RGBW_LED","x":570,"y":440,"wires":[["a178537f.06a9"]]},{"id":"63a9a7c3.8d3fe8","type":"csv","z":"10cb3090.c7736f","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"r,g,b,w","skip":"0","strings":true,"x":870,"y":500,"wires":[["8f04ab9e.7ad5f8","6d6b27ea.8871c8"]]},{"id":"8f04ab9e.7ad5f8","type":"debug","z":"10cb3090.c7736f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":420,"wires":[]},{"id":"8bb167d2.abef88","type":"mqtt in","z":"b81791fb.228a","name":"SENSOR AM2302-TEMP","topic":"mansarda/temperature","qos":"2","datatype":"auto","broker":"63e68111.1adde","x":152.5,"y":143.25000286102295,"wires":[["1c6ac2f4.bc575d","b0b3cb4e.c23ab8","6fca1a00.b77994","34ec6164.c7afae","5f6ab632.047038"]]},{"id":"1c6ac2f4.bc575d","type":"function","z":"b81791fb.228a","name":"Convertor Mesaje TEMP","func":"msg.payload = parseFloat(msg.payload);\nmsg.topic = 'sensor_temperature';\nreturn msg;","outputs":1,"noerr":0,"x":492.2261734008789,"y":170.11905670166016,"wires":[["be07539.6b576b","3deaa97e.a59c56"]]},{"id":"be07539.6b576b","type":"debug","z":"b81791fb.228a","name":"Temp Sensor","active":false,"tosidebar":true,"console":false,"complete":"payload","x":750,"y":140,"wires":[]},{"id":"b0b3cb4e.c23ab8","type":"ui_gauge","z":"b81791fb.228a","name":"Gauge: Temp","group":"131f6c8c.b30563","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":" ºC","format":"{{value}}","min":"10","max":"60","colors":["#ffe700","#e68b00","#ff0000"],"seg1":"20","seg2":"35","x":411.75,"y":40,"wires":[]},{"id":"d5c58add.570cc8","type":"ui_gauge","z":"b81791fb.228a","name":"Gauge: Umiditate","group":"131f6c8c.b30563","order":2,"width":0,"height":0,"gtype":"gage","title":"Umiditate","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"45","seg2":"70","x":422.8333435058594,"y":557.4999992847443,"wires":[]},{"id":"d2b25b6f.b59e88","type":"mqtt in","z":"b81791fb.228a","name":"SENSOR AM2302-HUM","topic":"mansarda/humidity","qos":"2","datatype":"auto","broker":"63e68111.1adde","x":154.047607421875,"y":534.5714390277863,"wires":[["d5c58add.570cc8","c2228c21.442da"]]},{"id":"bd6bd774.7a9eb8","type":"ui_chart","z":"b81791fb.228a","name":"","group":"bf324b7e.966e88","order":2,"width":0,"height":0,"label":"Umiditate","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"20","ymax":"70","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":378.3333282470703,"y":619.9999916553497,"wires":[[]]},{"id":"6fca1a00.b77994","type":"change","z":"b81791fb.228a","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Temperatura","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":494.61902618408203,"y":91.95237159729004,"wires":[["904aa5c7.8d7898"]]},{"id":"c2228c21.442da","type":"change","z":"b81791fb.228a","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Umiditate","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":208.3333282470703,"y":619.9999916553497,"wires":[["bd6bd774.7a9eb8"]]},{"id":"4730e1d6.69118","type":"ui_template","z":"b81791fb.228a","group":"604e8999.67a218","name":"Nest","order":1,"width":"6","height":"6","format":"<div id=\"thermostat\"></div>\n\n<style>\n@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);\n#thermostat {\n  margin: 0 auto;\n  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);\n}\n.dial {\n  -webkit-user-select: none;\n     -moz-user-select: none;\n      -ms-user-select: none;\n          user-select: none;\n}\n.dial.away .dial__ico__leaf {\n  visibility: hidden;\n}\n.dial.away .dial__lbl--target {\n  visibility: hidden;\n}\n.dial.away .dial__lbl--target--half {\n  visibility: hidden;\n}\n.dial.away .dial__lbl--away {\n  opacity: 1;\n}\n.dial .dial__shape {\n  -webkit-transition: fill 0.5s;\n  transition: fill 0.5s;\n}\n.dial__ico__leaf {\n  fill: #13EB13;\n  opacity: 0;\n  -webkit-transition: opacity 0.5s;\n  transition: opacity 0.5s;\n  pointer-events: none;\n}\n.dial.has-leaf .dial__ico__leaf {\n  display: block;\n  opacity: 1;\n  pointer-events: initial;\n}\n.dial__editableIndicator {\n  fill: white;\n  fill-rule: evenodd;\n  opacity: 0;\n  -webkit-transition: opacity 0.5s;\n  transition: opacity 0.5s;\n}\n.dial--edit .dial__editableIndicator {\n  opacity: 1;\n}\n.dial--state--off .dial__shape {\n  fill: #3d3c3c;\n}\n.dial--state--heating .dial__shape {\n  fill: #E36304;\n}\n.dial--state--cooling .dial__shape {\n  fill: #007AF1;\n}\n.dial__ticks path {\n  fill: rgba(255, 255, 255, 0.3);\n}\n.dial__ticks path.active {\n  fill: rgba(255, 255, 255, 0.8);\n}\n.dial text {\n  fill: white;\n  text-anchor: middle;\n  font-family: Helvetica, sans-serif;\n  alignment-baseline: central;\n}\n.dial__lbl--target {\n  font-size: 120px;\n  font-weight: bold;\n}\n.dial__lbl--target--half {\n  font-size: 40px;\n  font-weight: bold;\n  opacity: 0;\n  -webkit-transition: opacity 0.1s;\n  transition: opacity 0.1s;\n}\n.dial__lbl--target--half.shown {\n  opacity: 1;\n  -webkit-transition: opacity 0s;\n  transition: opacity 0s;\n}\n.dial__lbl--ambient {\n  font-size: 22px;\n  font-weight: bold;\n}\n.dial__lbl--away {\n  font-size: 72px;\n  font-weight: bold;\n  opacity: 0;\n  pointer-events: none;\n}\n#controls {\n  font-family: Open Sans;\n  background-color: rgba(255, 255, 255, 0.25);\n  padding: 20px;\n  border-radius: 5px;\n  position: absolute;\n  left: 50%;\n  -webkit-transform: translatex(-50%);\n          transform: translatex(-50%);\n  margin-top: 20px;\n}\n#controls label {\n  text-align: left;\n  display: block;\n}\n#controls label span {\n  display: inline-block;\n  width: 200px;\n  text-align: right;\n  font-size: 0.8em;\n  text-transform: uppercase;\n}\n#controls p {\n  margin: 0;\n  margin-bottom: 1em;\n  padding-bottom: 1em;\n  border-bottom: 2px solid #ccc;\n}\n</style>\n<script>\n    var thermostatDial = (function() {\n\t\n\t/*\n\t * Utility functions\n\t */\n\t\n\t// Create an element with proper SVG namespace, optionally setting its attributes and appending it to another element\n\tfunction createSVGElement(tag,attributes,appendTo) {\n\t\tvar element = document.createElementNS('http://www.w3.org/2000/svg',tag);\n\t\tattr(element,attributes);\n\t\tif (appendTo) {\n\t\t\tappendTo.appendChild(element);\n\t\t}\n\t\treturn element;\n\t}\n\t\n\t// Set attributes for an element\n\tfunction attr(element,attrs) {\n\t\tfor (var i in attrs) {\n\t\t\telement.setAttribute(i,attrs[i]);\n\t\t}\n\t}\n\t\n\t// Rotate a cartesian point about given origin by X degrees\n\tfunction rotatePoint(point, angle, origin) {\n\t\tvar radians = angle * Math.PI/180;\n\t\tvar x = point[0]-origin[0];\n\t\tvar y = point[1]-origin[1];\n\t\tvar x1 = x*Math.cos(radians) - y*Math.sin(radians) + origin[0];\n\t\tvar y1 = x*Math.sin(radians) + y*Math.cos(radians) + origin[1];\n\t\treturn [x1,y1];\n\t}\n\t\n\t// Rotate an array of cartesian points about a given origin by X degrees\n\tfunction rotatePoints(points, angle, origin) {\n\t\treturn points.map(function(point) {\n\t\t\treturn rotatePoint(point, angle, origin);\n\t\t});\n\t}\n\t\n\t// Given an array of points, return an SVG path string representing the shape they define\n\tfunction pointsToPath(points) {\n\t\treturn points.map(function(point, iPoint) {\n\t\t\treturn (iPoint>0?'L':'M') + point[0] + ' ' + point[1];\n\t\t}).join(' ')+'Z';\n\t}\n\t\n\tfunction circleToPath(cx, cy, r) {\n\t\treturn [\n\t\t\t\"M\",cx,\",\",cy,\n\t\t\t\"m\",0-r,\",\",0,\n\t\t\t\"a\",r,\",\",r,0,1,\",\",0,r*2,\",\",0,\n\t\t\t\"a\",r,\",\",r,0,1,\",\",0,0-r*2,\",\",0,\n\t\t\t\"z\"\n\t\t].join(' ').replace(/\\s,\\s/g,\",\");\n\t}\n\t\n\tfunction donutPath(cx,cy,rOuter,rInner) {\n\t\treturn circleToPath(cx,cy,rOuter) + \" \" + circleToPath(cx,cy,rInner);\n\t}\n\t\n\t// Restrict a number to a min + max range\n\tfunction restrictToRange(val,min,max) {\n\t\tif (val < min) return min;\n\t\tif (val > max) return max;\n\t\treturn val;\n\t}\n\t\n\t// Round a number to the nearest 0.5\n\tfunction roundHalf(num) {\n\t\treturn Math.round(num*2)/2;\n\t}\n\t\n\tfunction setClass(el, className, state) {\n\t\tel.classList[state ? 'add' : 'remove'](className);\n\t}\n\t\n\t/*\n\t * The \"MEAT\"\n\t */\n\n\treturn function(targetElement, options) {\n\t\tvar self = this;\n\t\t\n\t\t/*\n\t\t * Options\n\t\t */\n\t\toptions = options || {};\n\t\toptions = {\n\t\t\tdiameter: options.diameter || 400,\n\t\t\tminValue: options.minValue || 10, // Minimum value for target temperature\n\t\t\tmaxValue: options.maxValue || 30, // Maximum value for target temperature\n\t\t\tnumTicks: options.numTicks || 200, // Number of tick lines to display around the dial\n\t\t\tonSetTargetTemperature: options.onSetTargetTemperature || function() {}, // Function called when new target temperature set by the dial\n\t\t};\n\t\t\n\t\t/*\n\t\t * Properties - calculated from options in many cases\n\t\t */\n\t\tvar properties = {\n\t\t\ttickDegrees: 300, //  Degrees of the dial that should be covered in tick lines\n\t\t\trangeValue: options.maxValue - options.minValue,\n\t\t\tradius: options.diameter/2,\n\t\t\tticksOuterRadius: options.diameter / 30,\n\t\t\tticksInnerRadius: options.diameter / 8,\n\t\t\thvac_states: ['off', 'heating', 'cooling'],\n\t\t\tdragLockAxisDistance: 15,\n\t\t}\n\t\tproperties.lblAmbientPosition = [properties.radius, properties.ticksOuterRadius-(properties.ticksOuterRadius-properties.ticksInnerRadius)/2]\n\t\tproperties.offsetDegrees = 180-(360-properties.tickDegrees)/2;\n\t\t\n\t\t/*\n\t\t * Object state\n\t\t */\n\t\tvar state = {\n\t\t\ttarget_temperature: options.minValue,\n\t\t\tambient_temperature: options.minValue,\n\t\t\thvac_state: properties.hvac_states[0],\n\t\t\thas_leaf: false,\n\t\t\taway: false\n\t\t};\n\t\t\n\t\t/*\n\t\t * Property getter / setters\n\t\t */\n\t\tObject.defineProperty(this,'target_temperature',{\n\t\t\tget: function() {\n\t\t\t\treturn state.target_temperature;\n\t\t\t},\n\t\t\tset: function(val) {\n\t\t\t\tstate.target_temperature = restrictTargetTemperature(+val);\n\t\t\t\trender();\n\t\t\t}\n\t\t});\n\t\tObject.defineProperty(this,'ambient_temperature',{\n\t\t\tget: function() {\n\t\t\t\treturn state.ambient_temperature;\n\t\t\t},\n\t\t\tset: function(val) {\n\t\t\t\tstate.ambient_temperature = roundHalf(+val);\n\t\t\t\trender();\n\t\t\t}\n\t\t});\n\t\tObject.defineProperty(this,'hvac_state',{\n\t\t\tget: function() {\n\t\t\t\treturn state.hvac_state;\n\t\t\t},\n\t\t\tset: function(val) {\n\t\t\t\tif (properties.hvac_states.indexOf(val)>=0) {\n\t\t\t\t\tstate.hvac_state = val;\n\t\t\t\t\trender();\n\t\t\t\t}\n\t\t\t}\n\t\t});\n\t\tObject.defineProperty(this,'has_leaf',{\n\t\t\tget: function() {\n\t\t\t\treturn state.has_leaf;\n\t\t\t},\n\t\t\tset: function(val) {\n\t\t\t\tstate.has_leaf = !!val;\n\t\t\t\trender();\n\t\t\t}\n\t\t});\n\t\tObject.defineProperty(this,'away',{\n\t\t\tget: function() {\n\t\t\t\treturn state.away;\n\t\t\t},\n\t\t\tset: function(val) {\n\t\t\t\tstate.away = !!val;\n\t\t\t\trender();\n\t\t\t}\n\t\t});\n\t\t\n\t\t/*\n\t\t * SVG\n\t\t */\n\t\tvar svg = createSVGElement('svg',{\n\t\t\twidth: '100%', //options.diameter+'px',\n\t\t\theight: '100%', //options.diameter+'px',\n\t\t\tviewBox: '0 0 '+options.diameter+' '+options.diameter,\n\t\t\tclass: 'dial'\n\t\t},targetElement);\n\t\t// CIRCULAR DIAL\n\t\tvar circle = createSVGElement('circle',{\n\t\t\tcx: properties.radius,\n\t\t\tcy: properties.radius,\n\t\t\tr: properties.radius,\n\t\t\tclass: 'dial__shape'\n\t\t},svg);\n\t\t// EDITABLE INDICATOR\n\t\tvar editCircle = createSVGElement('path',{\n\t\t\td: donutPath(properties.radius,properties.radius,properties.radius-4,properties.radius-8),\n\t\t\tclass: 'dial__editableIndicator',\n\t\t},svg);\n\t\t\n\t\t/*\n\t\t * Ticks\n\t\t */\n\t\tvar ticks = createSVGElement('g',{\n\t\t\tclass: 'dial__ticks'\t\n\t\t},svg);\n\t\tvar tickPoints = [\n\t\t\t[properties.radius-1, properties.ticksOuterRadius],\n\t\t\t[properties.radius+1, properties.ticksOuterRadius],\n\t\t\t[properties.radius+1, properties.ticksInnerRadius],\n\t\t\t[properties.radius-1, properties.ticksInnerRadius]\n\t\t];\n\t\tvar tickPointsLarge = [\n\t\t\t[properties.radius-1.5, properties.ticksOuterRadius],\n\t\t\t[properties.radius+1.5, properties.ticksOuterRadius],\n\t\t\t[properties.radius+1.5, properties.ticksInnerRadius+20],\n\t\t\t[properties.radius-1.5, properties.ticksInnerRadius+20]\n\t\t];\n\t\tvar theta = properties.tickDegrees/options.numTicks;\n\t\tvar tickArray = [];\n\t\tfor (var iTick=0; iTick<options.numTicks; iTick++) {\n\t\t\ttickArray.push(createSVGElement('path',{d:pointsToPath(tickPoints)},ticks));\n\t\t};\n\t\t\n\t\t/*\n\t\t * Labels\n\t\t */\n\t\tvar lblTarget = createSVGElement('text',{\n\t\t\tx: properties.radius,\n\t\t\ty: properties.radius,\n\t\t\tclass: 'dial__lbl dial__lbl--target'\n\t\t},svg);\n\t\tvar lblTarget_text = document.createTextNode('');\n\t\tlblTarget.appendChild(lblTarget_text);\n\t\t//\n\t\tvar lblTargetHalf = createSVGElement('text',{\n\t\t\tx: properties.radius + properties.radius/2.5,\n\t\t\ty: properties.radius - properties.radius/8,\n\t\t\tclass: 'dial__lbl dial__lbl--target--half'\n\t\t},svg);\n\t\tvar lblTargetHalf_text = document.createTextNode('5');\n\t\tlblTargetHalf.appendChild(lblTargetHalf_text);\n\t\t//\n\t\tvar lblAmbient = createSVGElement('text',{\n\t\t\tclass: 'dial__lbl dial__lbl--ambient'\n\t\t},svg);\n\t\tvar lblAmbient_text = document.createTextNode('');\n\t\tlblAmbient.appendChild(lblAmbient_text);\n\t\t//\n\t\tvar lblAway = createSVGElement('text',{\n\t\t\tx: properties.radius,\n\t\t\ty: properties.radius,\n\t\t\tclass: 'dial__lbl dial__lbl--away'\n\t\t},svg);\n\t\tvar lblAway_text = document.createTextNode('AWAY');\n\t\tlblAway.appendChild(lblAway_text);\n\t\t//\n\t\tvar icoLeaf = createSVGElement('path',{\n\t\t\tclass: 'dial__ico__leaf'\n\t\t},svg);\n\t\t\n\t\t/*\n\t\t * LEAF\n\t\t */\n\t\tvar leafScale = properties.radius/5/100;\n\t\tvar leafDef = [\"M\", 3, 84, \"c\", 24, 17, 51, 18, 73, -6, \"C\", 100, 52, 100, 22, 100, 4, \"c\", -13, 15, -37, 9, -70, 19, \"C\", 4, 32, 0, 63, 0, 76, \"c\", 6, -7, 18, -17, 33, -23, 24, -9, 34, -9, 48, -20, -9, 10, -20, 16, -43, 24, \"C\", 22, 63, 8, 78, 3, 84, \"z\"].map(function(x) {\n\t\t\treturn isNaN(x) ? x : x*leafScale;\n\t\t}).join(' ');\n\t\tvar translate = [properties.radius-(leafScale*100*0.5),properties.radius*1.5]\n\t\tvar icoLeaf = createSVGElement('path',{\n\t\t\tclass: 'dial__ico__leaf',\n\t\t\td: leafDef,\n\t\t\ttransform: 'translate('+translate[0]+','+translate[1]+')'\n\t\t},svg);\n\t\t\t\n\t\t/*\n\t\t * RENDER\n\t\t */\n\t\tfunction render() {\n\t\t\trenderAway();\n\t\t\trenderHvacState();\n\t\t\trenderTicks();\n\t\t\trenderTargetTemperature();\n\t\t\trenderAmbientTemperature();\n\t\t\trenderLeaf();\n\t\t}\n\t\trender();\n\n\t\t/*\n\t\t * RENDER - ticks\n\t\t */\n\t\tfunction renderTicks() {\n\t\t\tvar vMin, vMax;\n\t\t\tif (self.away) {\n\t\t\t\tvMin = self.ambient_temperature;\n\t\t\t\tvMax = vMin;\n\t\t\t} else {\n\t\t\t\tvMin = Math.min(self.ambient_temperature, self.target_temperature);\n\t\t\t\tvMax = Math.max(self.ambient_temperature, self.target_temperature);\n\t\t\t}\n\t\t\tvar min = restrictToRange(Math.round((vMin-options.minValue)/properties.rangeValue * options.numTicks),0,options.numTicks-1);\n\t\t\tvar max = restrictToRange(Math.round((vMax-options.minValue)/properties.rangeValue * options.numTicks),0,options.numTicks-1);\n\t\t\t//\n\t\t\ttickArray.forEach(function(tick,iTick) {\n\t\t\t\tvar isLarge = iTick==min || iTick==max;\n\t\t\t\tvar isActive = iTick >= min && iTick <= max;\n\t\t\t\tattr(tick,{\n\t\t\t\t\td: pointsToPath(rotatePoints(isLarge ? tickPointsLarge: tickPoints,iTick*theta-properties.offsetDegrees,[properties.radius, properties.radius])),\n\t\t\t\t\tclass: isActive ? 'active' : ''\n\t\t\t\t});\n\t\t\t});\n\t\t}\n\t\n\t\t/*\n\t\t * RENDER - ambient temperature\n\t\t */\n\t\tfunction renderAmbientTemperature() {\n\t\t\tlblAmbient_text.nodeValue = Math.floor(self.ambient_temperature);\n\t\t\tif (self.ambient_temperature%1!=0) {\n\t\t\t\tlblAmbient_text.nodeValue += '⁵';\n\t\t\t}\n\t\t\tvar peggedValue = restrictToRange(self.ambient_temperature, options.minValue, options.maxValue);\n\t\t\tdegs = properties.tickDegrees * (peggedValue-options.minValue)/properties.rangeValue - properties.offsetDegrees;\n\t\t\tif (peggedValue > self.target_temperature) {\n\t\t\t\tdegs += 8;\n\t\t\t} else {\n\t\t\t\tdegs -= 8;\n\t\t\t}\n\t\t\tvar pos = rotatePoint(properties.lblAmbientPosition,degs,[properties.radius, properties.radius]);\n\t\t\tattr(lblAmbient,{\n\t\t\t\tx: pos[0],\n\t\t\t\ty: pos[1]\n\t\t\t});\n\t\t}\n\n\t\t/*\n\t\t * RENDER - target temperature\n\t\t */\n\t\tfunction renderTargetTemperature() {\n\t\t\tlblTarget_text.nodeValue = Math.floor(self.target_temperature);\n\t\t\tsetClass(lblTargetHalf,'shown',self.target_temperature%1!=0);\n\t\t}\n\t\t\n\t\t/*\n\t\t * RENDER - leaf\n\t\t */\n\t\tfunction renderLeaf() {\n\t\t\tsetClass(svg,'has-leaf',self.has_leaf);\n\t\t}\n\t\t\n\t\t/*\n\t\t * RENDER - HVAC state\n\t\t */\n\t\tfunction renderHvacState() {\n\t\t\tArray.prototype.slice.call(svg.classList).forEach(function(c) {\n\t\t\t\tif (c.match(/^dial--state--/)) {\n\t\t\t\t\tsvg.classList.remove(c);\n\t\t\t\t};\n\t\t\t});\n\t\t\tsvg.classList.add('dial--state--'+self.hvac_state);\n\t\t}\n\t\t\n\t\t/*\n\t\t * RENDER - away\n\t\t */\n\t\tfunction renderAway() {\n\t\t\tsvg.classList[self.away ? 'add' : 'remove']('away');\n\t\t}\n\t\t\n\t\t/*\n\t\t * Drag to control\n\t\t */\n\t\tvar _drag = {\n\t\t\tinProgress: false,\n\t\t\tstartPoint: null,\n\t\t\tstartTemperature: 0,\n\t\t\tlockAxis: undefined\n\t\t};\n\t\t\n\t\tfunction eventPosition(ev) {\n\t\t\tif (ev.targetTouches && ev.targetTouches.length) {\n\t\t\t\treturn  [ev.targetTouches[0].clientX, ev.targetTouches[0].clientY];\n\t\t\t} else {\n\t\t\t\treturn [ev.x, ev.y];\n\t\t\t};\n\t\t}\n\t\t\n\t\tvar startDelay;\n\t\tfunction dragStart(ev) {\n\t\t\tstartDelay = setTimeout(function() {\n\t\t\t\tsetClass(svg, 'dial--edit', true);\n\t\t\t\t_drag.inProgress = true;\n\t\t\t\t_drag.startPoint = eventPosition(ev);\n\t\t\t\t_drag.startTemperature = self.target_temperature || options.minValue;\n\t\t\t\t_drag.lockAxis = undefined;\n\t\t\t},1000);\n\t\t};\n\t\t\n\t\tfunction dragEnd (ev) {\n\t\t\tclearTimeout(startDelay);\n\t\t\tsetClass(svg, 'dial--edit', false);\n\t\t\tif (!_drag.inProgress) return;\n\t\t\t_drag.inProgress = false;\n\t\t\tif (self.target_temperature != _drag.startTemperature) {\n\t\t\t\tif (typeof options.onSetTargetTemperature == 'function') {\n\t\t\t\t\toptions.onSetTargetTemperature(self.target_temperature);\n\t\t\t\t};\n\t\t\t};\n\t\t};\n\t\t\n\t\tfunction dragMove(ev) {\n\t\t\tev.preventDefault();\n\t\t\tif (!_drag.inProgress) return;\n\t\t\tvar evPos =  eventPosition(ev);\n\t\t\tvar dy = _drag.startPoint[1]-evPos[1];\n\t\t\tvar dx = evPos[0] - _drag.startPoint[0];\n\t\t\tvar dxy;\n\t\t\tif (_drag.lockAxis == 'x') {\n\t\t\t\tdxy  = dx;\n\t\t\t} else if (_drag.lockAxis == 'y') {\n\t\t\t\tdxy = dy;\n\t\t\t} else if (Math.abs(dy) > properties.dragLockAxisDistance) {\n\t\t\t\t_drag.lockAxis = 'y';\n\t\t\t\tdxy = dy;\n\t\t\t} else if (Math.abs(dx) > properties.dragLockAxisDistance) {\n\t\t\t\t_drag.lockAxis = 'x';\n\t\t\t\tdxy = dx;\n\t\t\t} else {\n\t\t\t\tdxy = (Math.abs(dy) > Math.abs(dx)) ? dy : dx;\n\t\t\t};\n\t\t\tvar dValue = (dxy*getSizeRatio())/(options.diameter)*properties.rangeValue;\n\t\t\tself.target_temperature = roundHalf(_drag.startTemperature+dValue);\n\t\t}\n\t\t\n\t\tsvg.addEventListener('mousedown',dragStart);\n\t\tsvg.addEventListener('touchstart',dragStart);\n\t\t\n\t\tsvg.addEventListener('mouseup',dragEnd);\n\t\tsvg.addEventListener('mouseleave',dragEnd);\n\t\tsvg.addEventListener('touchend',dragEnd);\n\t\t\n\t\tsvg.addEventListener('mousemove',dragMove);\n\t\tsvg.addEventListener('touchmove',dragMove);\n\t\t//\n\t\t\n\t\t/*\n\t\t * Helper functions\n\t\t */\n\t\tfunction restrictTargetTemperature(t) {\n\t\t\treturn restrictToRange(roundHalf(t),options.minValue,options.maxValue);\n\t\t}\n\t\t\n\t\tfunction angle(point) {\n\t\t\tvar dx = point[0] - properties.radius;\n\t\t\tvar dy = point[1] - properties.radius;\n\t\t\tvar theta = Math.atan(dx/dy) / (Math.PI/180);\n\t\t\tif (point[0]>=properties.radius && point[1] < properties.radius) {\n\t\t\t\ttheta = 90-theta - 90;\n\t\t\t} else if (point[0]>=properties.radius && point[1] >= properties.radius) {\n\t\t\t\ttheta = 90-theta + 90;\n\t\t\t} else if (point[0]<properties.radius && point[1] >= properties.radius) {\n\t\t\t\ttheta = 90-theta + 90;\n\t\t\t} else if (point[0]<properties.radius && point[1] < properties.radius) {\n\t\t\t\ttheta = 90-theta+270;\n\t\t\t}\n\t\t\treturn theta;\n\t\t};\n\t\t\n\t\tfunction getSizeRatio() {\n\t\t\treturn options.diameter / targetElement.clientWidth;\n\t\t}\n\t\t\n\t};\n})();\n\n/* ==== */\n(function(scope) {\n    \n    var nest = new thermostatDial(document.getElementById('thermostat'),{\n    \tonSetTargetTemperature: function(v) {\n    \t\tscope.send({topic: \"target_temperature\", payload: v});\n    \t}\n    });\n\n\n    scope.$watch('msg', function(data) {\n        //console.log(data.topic+\"  \"+data.payload);\n        if (data.topic == \"ambient_temperature\") {\n            nest.ambient_temperature = data.payload;\n        } if (data.topic == \"target_temperature\") {\n            nest.target_temperature = data.payload;\n        } if (data.topic == \"hvac_state\") {\n            nest.hvac_state = data.payload;\n        } if (data.topic == \"has_leaf\") {\n            nest.has_leaf = data.payload;\n        } if (data.topic == \"away\") {\n            nest.away = data.payload;\n        }\n    });\n})(scope);\n\n</script>","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":634.5238075256348,"y":442.8571138381958,"wires":[["1ff323be.c067ac"]]},{"id":"34ec6164.c7afae","type":"function","z":"b81791fb.228a","name":"ambient_temperature","func":"msg.topic = \"ambient_temperature\";\nreturn msg;","outputs":1,"noerr":0,"x":357.6190490722656,"y":308.33333587646484,"wires":[["4730e1d6.69118"]]},{"id":"f5ef0f0c.717da","type":"function","z":"b81791fb.228a","name":"hvac_state","func":"global.set(\"color-state\",msg.payload);\n\nmsg.topic = \"hvac_state\";\nreturn msg;","outputs":1,"noerr":0,"x":600.714241027832,"y":721.4285278320312,"wires":[["4730e1d6.69118"]]},{"id":"1ff323be.c067ac","type":"function","z":"b81791fb.228a","name":"target_temperature","func":"global.set(\"room-target\",msg.payload);\n\nif (msg.topic == \"target_temperature\") {\nreturn msg;\n}","outputs":1,"noerr":0,"x":830,"y":660,"wires":[["9ce808ee.4bba98","3deaa97e.a59c56"]]},{"id":"9ce808ee.4bba98","type":"debug","z":"b81791fb.228a","name":"Target Temp","active":false,"tosidebar":true,"console":false,"complete":"payload","x":1082.142921447754,"y":710.476203918457,"wires":[]},{"id":"3deaa97e.a59c56","type":"function","z":"b81791fb.228a","name":"Compara TEMPs","func":"context.target = context.target || 0.0;\ncontext.sensor = context.sensor || 0.0;\n\nif (msg.topic === 'sensor_temperature') {\n  context.sensor = msg.payload;\n} else if (msg.topic === 'target_temperature') {\n  context.target = msg.payload;\n} \n\nif (context.target >= context.sensor) {\n  return {payload: 1};\n} else {\n  return {payload: 0};\n}","outputs":1,"noerr":0,"x":850,"y":400,"wires":[["1195b162.1ceb3f","f79a5370.b6851"]]},{"id":"1195b162.1ceb3f","type":"function","z":"b81791fb.228a","name":"Stat Color Nest","func":"msg.topic = \"hvac_state\";\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":240,"wires":[["3034b239.67437e","575bd8ee.9e3af8"]]},{"id":"3034b239.67437e","type":"debug","z":"b81791fb.228a","name":"STATE","active":false,"tosidebar":true,"console":false,"complete":"payload","x":950,"y":180,"wires":[]},{"id":"575bd8ee.9e3af8","type":"switch","z":"b81791fb.228a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":2,"x":910,"y":300,"wires":[["a9048dc.f39307"],["f4c2d952.1e0c28"]]},{"id":"a9048dc.f39307","type":"template","z":"b81791fb.228a","name":"Incalzire OFF","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"off","output":"str","x":1072.8571586608887,"y":268.5713920593262,"wires":[["f5ef0f0c.717da","8706a4f3.218e28"]]},{"id":"f4c2d952.1e0c28","type":"template","z":"b81791fb.228a","name":"Incalzire ON","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"heating","output":"str","x":1065.714370727539,"y":371.4285821914673,"wires":[["f5ef0f0c.717da"]]},{"id":"8706a4f3.218e28","type":"debug","z":"b81791fb.228a","name":"Exit","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1193.5713729858398,"y":162.14287090301514,"wires":[]},{"id":"904aa5c7.8d7898","type":"ui_chart","z":"b81791fb.228a","name":"","group":"bf324b7e.966e88","order":1,"width":0,"height":0,"label":"Temperatura","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"50","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":770,"y":80,"wires":[[]]},{"id":"11bd82d.ae8957d","type":"delay","z":"b81791fb.228a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":140,"y":420,"wires":[["404e6da2.fe6354"]]},{"id":"404e6da2.fe6354","type":"function","z":"b81791fb.228a","name":"global target-temp","func":"msg.payload = global.get(\"room-target\");\nmsg.topic = 'target_temperature';\nreturn msg;","outputs":1,"noerr":0,"x":361.6666793823242,"y":468.33334159851074,"wires":[["b57e1fe8.a1979","4730e1d6.69118"]]},{"id":"b57e1fe8.a1979","type":"debug","z":"b81791fb.228a","name":"global-target-temp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":351.6667251586914,"y":371.6667528152466,"wires":[]},{"id":"8cc026f4.539be8","type":"ui_ui_control","z":"b81791fb.228a","name":"ui change","x":116.66666412353516,"y":714.9999694824219,"wires":[["3f9a3c0d.089994"]]},{"id":"3f9a3c0d.089994","type":"delay","z":"b81791fb.228a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":249.99998474121094,"y":783.3332862854004,"wires":[["83476460.b70708"]]},{"id":"83476460.b70708","type":"function","z":"b81791fb.228a","name":"global color-state","func":"msg.payload = global.get(\"color-state\");\nmsg.topic = \"hvac_state\";\nreturn msg;","outputs":1,"noerr":0,"x":359.99998474121094,"y":688.3333435058594,"wires":[["4730e1d6.69118","c49c1cf0.bd998"]]},{"id":"c49c1cf0.bd998","type":"debug","z":"b81791fb.228a","name":"global-color-state","active":false,"console":"false","complete":"payload","x":509.99998474121094,"y":786.6666984558105,"wires":[]},{"id":"5f6ab632.047038","type":"function","z":"b81791fb.228a","name":"Leaf","func":"minleaf = 19;\nmaxleaf = 23;\ntemperature = msg.payload;\nmsg.payload=false;\nif (temperature >= minleaf){\n    if (temperature <= maxleaf){\n        msg.payload = true;\n    }\n}\nmsg.topic = \"has_leaf\";\nreturn msg;","outputs":1,"noerr":0,"x":444.9999771118164,"y":233.3333396911621,"wires":[["4730e1d6.69118"]]},{"id":"10a7cd17.91aca3","type":"ui_ui_control","z":"b81791fb.228a","name":"ui change","x":100,"y":340,"wires":[["11bd82d.ae8957d"]]},{"id":"f79a5370.b6851","type":"mqtt out","z":"b81791fb.228a","name":"releu1","topic":"cmnd/sonoff/POWER","qos":"2","retain":"","broker":"63e68111.1adde","x":1290,"y":500,"wires":[]},{"id":"563ff362.adfd4c","type":"comment","z":"2b00445d.d4bdcc","name":"MQTT Out: LED","info":"This section sends messages to the LED MQTT topic","x":1200,"y":260,"wires":[]},{"id":"cfa5eadc.308e28","type":"ui_text","z":"2b00445d.d4bdcc","group":"1b91d119.3af46f","order":0,"width":0,"height":0,"name":"Color Picker","label":"Choose a Colour","format":"{{msg.payload}}","layout":"row-spread","x":110,"y":167,"wires":[]},{"id":"dba13c84.9b324","type":"ui_button","z":"2b00445d.d4bdcc","name":"Red Button","group":"1b91d119.3af46f","order":0,"width":"2","height":"1","passthru":false,"label":"Red","color":"#000000","bgcolor":"#ff4242","icon":"","payload":"R","payloadType":"str","topic":"","x":113,"y":231,"wires":[["929e530d.a2807"]]},{"id":"929e530d.a2807","type":"mqtt out","z":"2b00445d.d4bdcc","name":"LED Change","topic":"room/LEDchange","qos":"","retain":"","broker":"63e68111.1adde","x":716,"y":295,"wires":[]},{"id":"fa4eab66.e971f8","type":"ui_button","z":"2b00445d.d4bdcc","name":"Green Button","group":"1b91d119.3af46f","order":0,"width":"2","height":"1","passthru":false,"label":"Green","color":"#000000","bgcolor":"#66ff75","icon":"","payload":"G","payloadType":"str","topic":"","x":113,"y":281,"wires":[["929e530d.a2807"]]},{"id":"fef1f92c.437828","type":"ui_button","z":"2b00445d.d4bdcc","name":"Blue Button","group":"1b91d119.3af46f","order":0,"width":"2","height":"1","passthru":false,"label":"Blue","color":"#000000","bgcolor":"#66d8ff","icon":"","payload":"B","payloadType":"str","topic":"","x":109,"y":339,"wires":[["929e530d.a2807"]]},{"id":"777830e8.17496","type":"ui_text","z":"2b00445d.d4bdcc","group":"1b91d119.3af46f","order":0,"width":0,"height":0,"name":"Seperator","label":" ","format":"{{msg.payload}}","layout":"row-center","x":99,"y":399,"wires":[]},{"id":"ba339a67.b9fb48","type":"mqtt in","z":"2b00445d.d4bdcc","name":"Current LED State","topic":"room/LEDstate","qos":"2","datatype":"auto","broker":"63e68111.1adde","x":132,"y":491,"wires":[["c0b88a1c.25d398"]]},{"id":"c0b88a1c.25d398","type":"ui_text","z":"2b00445d.d4bdcc","group":"efff20c.d77e9e","order":0,"width":0,"height":0,"name":"Current LED State","label":"Current LED State: ","format":"{{msg.payload}}","layout":"row-left","x":716,"y":491,"wires":[]},{"id":"c80baf65.38f92","type":"ui_button","z":"2b00445d.d4bdcc","name":"On Led","group":"a875ed11.84539","order":0,"width":0,"height":0,"passthru":false,"label":"On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"O","payloadType":"str","topic":"","x":110,"y":40,"wires":[["929e530d.a2807"]]},{"id":"e4ca15d9.0d9f78","type":"ui_button","z":"2b00445d.d4bdcc","name":"Off Led","group":"a875ed11.84539","order":0,"width":0,"height":0,"passthru":false,"label":"Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"S","payloadType":"str","topic":"","x":100,"y":100,"wires":[["929e530d.a2807"]]},{"id":"d16061fb.7239d","type":"mqtt in","z":"bd68083d.84e8c8","name":"Temperature","topic":"mansarda/temperature","qos":"2","datatype":"auto","broker":"63e68111.1adde","x":270,"y":462,"wires":[["94206179.7f5e8","810c181a.85a278"]]},{"id":"f9c9ab98.cdc108","type":"mqtt in","z":"bd68083d.84e8c8","name":"Humidity","topic":"mansarda/humidity","qos":"2","datatype":"auto","broker":"63e68111.1adde","x":260,"y":619,"wires":[["733e863e.3bb588","5341d9fd.faecf8"]]},{"id":"94206179.7f5e8","type":"ui_chart","z":"bd68083d.84e8c8","name":"Temperature","group":"109d19dd.1591c6","order":0,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":610,"y":462,"wires":[[]]},{"id":"733e863e.3bb588","type":"ui_gauge","z":"bd68083d.84e8c8","name":"Humidity","group":"dead6efa.689f5","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":607,"wires":[]},{"id":"b69374a3.652d68","type":"ui_switch","z":"bd68083d.84e8c8","name":"Releu1","label":"Pompa calorifere mansarda","tooltip":"","group":"45fba20e.f2022c","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"cmnd/sonoff/POWER","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":860,"y":260,"wires":[["3a9c7dff.293eb2"]]},{"id":"3a9c7dff.293eb2","type":"mqtt out","z":"bd68083d.84e8c8","name":"releu1","topic":"cmnd/sonoff/POWER","qos":"2","retain":"","broker":"63e68111.1adde","x":1290,"y":260,"wires":[]},{"id":"810c181a.85a278","type":"ui_gauge","z":"bd68083d.84e8c8","name":"Temperature","group":"dead6efa.689f5","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":" ºC","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":513,"wires":[]},{"id":"d181c2d4.5273f","type":"ui_switch","z":"bd68083d.84e8c8","name":"Lamp","label":"Lamp","tooltip":"","group":"57d95e7b.f3ce8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"room/lamp","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":230,"y":63,"wires":[["7f2c885f.c3c938"]]},{"id":"7f2c885f.c3c938","type":"mqtt out","z":"bd68083d.84e8c8","name":"Lamp","topic":"room/lamp","qos":"","retain":"","broker":"63e68111.1adde","x":570,"y":63,"wires":[]},{"id":"9320bc7b.8822b","type":"mqtt in","z":"bd68083d.84e8c8","name":"Temperature","topic":"room/temperature","qos":"2","datatype":"auto","broker":"63e68111.1adde","x":260,"y":183,"wires":[["82b42484.82bb68","fcc273ed.9e089"]]},{"id":"53964f7f.e084a","type":"mqtt in","z":"bd68083d.84e8c8","name":"Humidity","topic":"room/humidity","qos":"2","datatype":"auto","broker":"63e68111.1adde","x":250,"y":263,"wires":[["3496efcc.35421","bb2c8758.5f2ee8"]]},{"id":"82b42484.82bb68","type":"ui_chart","z":"bd68083d.84e8c8","name":"Temperature","group":"8727c03a.1ec8e","order":0,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":600,"y":183,"wires":[[]]},{"id":"3496efcc.35421","type":"ui_gauge","z":"bd68083d.84e8c8","name":"Humidity","group":"aff0c2e1.e4814","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":263,"wires":[]},{"id":"a4090224.b31be","type":"ui_switch","z":"bd68083d.84e8c8","name":"Lamp1","label":"Lamp1","tooltip":"","group":"e631a219.162bc","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"mansarda/lamp1","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":250,"y":390,"wires":[["eea2a4aa.941c18"]]},{"id":"eea2a4aa.941c18","type":"mqtt out","z":"bd68083d.84e8c8","name":"Lamp1","topic":"mansarda/lamp1","qos":"","retain":"","broker":"63e68111.1adde","x":610,"y":390,"wires":[]},{"id":"fcc273ed.9e089","type":"ui_gauge","z":"bd68083d.84e8c8","name":"Temperature","group":"aff0c2e1.e4814","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":" ºC","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":130,"wires":[]},{"id":"73b2f8c4.309a18","type":"mqtt in","z":"bd68083d.84e8c8","name":"Temperature1","topic":"camera_tehnica/temperature1","qos":"2","datatype":"auto","broker":"63e68111.1adde","x":270,"y":752,"wires":[["978a3232.5e734","c76a5446.de6eb8"]]},{"id":"978a3232.5e734","type":"ui_chart","z":"bd68083d.84e8c8","name":"Temperature1","group":"1307f796.4f4c38","order":1,"width":0,"height":0,"label":"Temperature1","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"90","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":640,"y":732,"wires":[[]]},{"id":"c76a5446.de6eb8","type":"ui_gauge","z":"bd68083d.84e8c8","name":"Temperature1","group":"c05434ff.47c0c8","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature1","label":" ºC","format":"{{value}}","min":0,"max":"90","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":792,"wires":[]},{"id":"c16c1b23.573e08","type":"mqtt in","z":"bd68083d.84e8c8","name":"Temperature2","topic":"camera_tehnica/temperature2","qos":"2","datatype":"auto","broker":"63e68111.1adde","x":270,"y":872,"wires":[["8b23e31a.c03ab","47fcd41c.1e156c"]]},{"id":"8b23e31a.c03ab","type":"ui_chart","z":"bd68083d.84e8c8","name":"Temperature2","group":"1307f796.4f4c38","order":2,"width":0,"height":0,"label":"Temperature2","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"90","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":640,"y":852,"wires":[[]]},{"id":"47fcd41c.1e156c","type":"ui_gauge","z":"bd68083d.84e8c8","name":"Temperature2","group":"c05434ff.47c0c8","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature2","label":" ºC","format":"{{value}}","min":0,"max":"90","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":912,"wires":[]},{"id":"e840f249.57057","type":"mqtt in","z":"bd68083d.84e8c8","name":"Temperature3","topic":"camera_tehnica/temperature3","qos":"2","datatype":"auto","broker":"63e68111.1adde","x":270,"y":992,"wires":[["968a2872.d62958","4d79c468.18c86c"]]},{"id":"968a2872.d62958","type":"ui_chart","z":"bd68083d.84e8c8","name":"Temperature3","group":"1307f796.4f4c38","order":3,"width":0,"height":0,"label":"Temperature3","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"90","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":640,"y":972,"wires":[[]]},{"id":"4d79c468.18c86c","type":"ui_gauge","z":"bd68083d.84e8c8","name":"Temperature3","group":"c05434ff.47c0c8","order":3,"width":0,"height":0,"gtype":"gage","title":"Temperature3","label":" ºC","format":"{{value}}","min":0,"max":"90","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":1032,"wires":[]},{"id":"fcbc7e4e.a342e","type":"mqtt in","z":"bd68083d.84e8c8","name":"Temperature4","topic":"camera_tehnica/temperature4","qos":"2","datatype":"auto","broker":"63e68111.1adde","x":270,"y":1112,"wires":[["fd33ce99.ef25","ed6a91d9.dcd95","ff4ee3b0.4f2e7"]]},{"id":"fd33ce99.ef25","type":"ui_chart","z":"bd68083d.84e8c8","name":"Temperature4","group":"1307f796.4f4c38","order":4,"width":0,"height":0,"label":"Temperature4","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"90","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":640,"y":1092,"wires":[[]]},{"id":"ed6a91d9.dcd95","type":"ui_gauge","z":"bd68083d.84e8c8","name":"Temperature4","group":"c05434ff.47c0c8","order":4,"width":0,"height":0,"gtype":"gage","title":"Temperature4","label":" ºC","format":"{{value}}","min":0,"max":"90","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":1152,"wires":[]},{"id":"913f9d03.3c55","type":"mqtt in","z":"bd68083d.84e8c8","name":"Temperature_c","topic":"camera_tehnica/temperature_c","qos":"2","datatype":"auto","broker":"63e68111.1adde","x":280,"y":1252,"wires":[["ad21dfa3.3cb9","9d4fa143.06abe"]]},{"id":"ad21dfa3.3cb9","type":"ui_chart","z":"bd68083d.84e8c8","name":"Temperature_c","group":"17a58c87.4cdd63","order":1,"width":0,"height":0,"label":"Temperature_c","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":640,"y":1232,"wires":[[]]},{"id":"9d4fa143.06abe","type":"ui_gauge","z":"bd68083d.84e8c8","name":"Temperature_c","group":"17a58c87.4cdd63","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature_c","label":" ºC","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":1292,"wires":[]},{"id":"1ebbe64.09c561a","type":"mqtt in","z":"bd68083d.84e8c8","name":"Humidity_c","topic":"camera_tehnica/humidity","qos":"2","datatype":"auto","broker":"63e68111.1adde","x":290,"y":1390,"wires":[["16ca1f15.c5d2a1"]]},{"id":"16ca1f15.c5d2a1","type":"ui_gauge","z":"bd68083d.84e8c8","name":"Humidity","group":"17a58c87.4cdd63","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":1390,"wires":[]},{"id":"bb2c8758.5f2ee8","type":"ui_chart","z":"bd68083d.84e8c8","name":"Humidity","group":"8727c03a.1ec8e","order":0,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":580,"y":310,"wires":[[]]},{"id":"5341d9fd.faecf8","type":"ui_chart","z":"bd68083d.84e8c8","name":"Humidity","group":"109d19dd.1591c6","order":0,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":620,"y":655,"wires":[[]]},{"id":"bd5e4aaa.a96208","type":"ui_switch","z":"bd68083d.84e8c8","name":"Releu2","label":"Pompa panou solar","tooltip":"","group":"45fba20e.f2022c","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"camera_tehnica/relay2","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":1120,"y":360,"wires":[["2e7e4781.94c998"]]},{"id":"2e7e4781.94c998","type":"mqtt out","z":"bd68083d.84e8c8","name":"relay2","topic":"camera_tehnica/relay2","qos":"2","retain":"","broker":"63e68111.1adde","x":1310,"y":360,"wires":[]},{"id":"7db563dd.ac996c","type":"mqtt in","z":"bd68083d.84e8c8","name":"Temperature5","topic":"camera_tehnica/temperature5","qos":"2","datatype":"auto","broker":"63e68111.1adde","x":910,"y":761,"wires":[["10768c88.6a8bb3","a847818b.6068e"]]},{"id":"10768c88.6a8bb3","type":"ui_chart","z":"bd68083d.84e8c8","name":"Temperature5","group":"79a9b1f7.fdd09","order":3,"width":0,"height":0,"label":"Boiler apa calda","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1280,"y":741,"wires":[[]]},{"id":"a847818b.6068e","type":"ui_gauge","z":"bd68083d.84e8c8","name":"Temperature5","group":"79a9b1f7.fdd09","order":1,"width":0,"height":0,"gtype":"gage","title":"Boiler apa calda","label":" ºC","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1280,"y":801,"wires":[]},{"id":"6cd5b7aa.5cf768","type":"mqtt in","z":"bd68083d.84e8c8","name":"Temperature6","topic":"camera_tehnica/temperature6","qos":"2","datatype":"auto","broker":"63e68111.1adde","x":910,"y":642,"wires":[["cc710011.fa37c","1a1c0376.57ad4d"]]},{"id":"cc710011.fa37c","type":"ui_chart","z":"bd68083d.84e8c8","name":"Temperature6","group":"79a9b1f7.fdd09","order":4,"width":0,"height":0,"label":"Panou solar","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"-30","ymax":"100","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1280,"y":622,"wires":[[]]},{"id":"1a1c0376.57ad4d","type":"ui_gauge","z":"bd68083d.84e8c8","name":"Temperature6","group":"79a9b1f7.fdd09","order":2,"width":0,"height":0,"gtype":"gage","title":"Panou solar","label":" ºC","format":"{{value}}","min":"-30","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1280,"y":682,"wires":[]},{"id":"3d75cdd6.f3d532","type":"timerswitch","z":"bd68083d.84e8c8","name":"Automatizare panou solar","ontopic":"camera_tehnica/relay2","offtopic":"camera_tehnica/relay2","onpayload":"","offpayload":"","disabled":false,"schedules":[{"on_h":"10","on_m":"10","on_s":"00","off_h":"19","off_m":"00","off_s":"00","valid":true}],"x":870,"y":360,"wires":[[]]},{"id":"ff4ee3b0.4f2e7","type":"function","z":"bd68083d.84e8c8","name":"Compare solar temp","func":"context.target = context.target || 0.0;\n\nif (msg.topic === 'camera_tehnica/temperature4') {\n  context.target = msg.payload;\n} \n\nif (context.target >= 45) {\n  return {payload: \"on\"};\n} else {\n  return {payload: \"off\"};\n}","outputs":1,"noerr":0,"x":1000,"y":480,"wires":[["bd5e4aaa.a96208"]]},{"id":"4f5b991b.725118","type":"mqtt in","z":"bd68083d.84e8c8","name":"Temperature","topic":"parter/temperature","qos":"2","datatype":"auto","broker":"63e68111.1adde","x":890,"y":60,"wires":[["c97657f8.c40d88","a523b46e.6bcec8"]]},{"id":"7a6b1595.82032c","type":"mqtt in","z":"bd68083d.84e8c8","name":"Humidity","topic":"parter/humidity","qos":"2","datatype":"auto","broker":"63e68111.1adde","x":880,"y":140,"wires":[["5b5dd3d1.26322c","54c83556.1793bc"]]},{"id":"c97657f8.c40d88","type":"ui_chart","z":"bd68083d.84e8c8","name":"Temperature","group":"8be6089.7942cf8","order":0,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1210,"y":80,"wires":[[]]},{"id":"5b5dd3d1.26322c","type":"ui_gauge","z":"bd68083d.84e8c8","name":"Humidity","group":"8be6089.7942cf8","order":4,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1220,"y":140,"wires":[]},{"id":"a523b46e.6bcec8","type":"ui_gauge","z":"bd68083d.84e8c8","name":"Temperature","group":"8be6089.7942cf8","order":3,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":" ºC","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1210,"y":20,"wires":[]},{"id":"54c83556.1793bc","type":"ui_chart","z":"bd68083d.84e8c8","name":"Humidity","group":"8be6089.7942cf8","order":0,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1210,"y":187,"wires":[[]]},{"id":"63675d25.b5e294","type":"mqtt in","z":"c0d9d2a7.dbc33","name":"","topic":"#","qos":"2","datatype":"auto","broker":"63e68111.1adde","x":290,"y":420,"wires":[["26a6643a.180f2c"]]},{"id":"595e7ede.88bc4","type":"debug","z":"c0d9d2a7.dbc33","name":"","active":false,"tosidebar":true,"console":false,"complete":"true","x":750,"y":300,"wires":[]},{"id":"26a6643a.180f2c","type":"function","z":"c0d9d2a7.dbc33","name":"Create query in topic","func":"var date;\ndate = new Date();\ndate = (date.getFullYear() + '-' + ('00' + (date.getMonth()+1)).slice(-2) + '-' + ('00' + date.getDate()).slice(-2) + ' ' + ('00' + date.getHours()).slice(-2) + ':' + ('00' + date.getMinutes()).slice(-2) + ':' + ('00' + date.getSeconds()).slice(-2));\n\nvar out = \"INSERT INTO iot_data (timestamp1,topic,data)\"\nout = out + \"VALUES ('\" + date  + \"','\" \nout = out + msg.topic + \"','\" + msg.payload + \"');\"\n    \nmsg.topic=out;\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":340,"wires":[["595e7ede.88bc4","7f5104b8.132ffc"]]},{"id":"4cd2fa67.08ebe4","type":"comment","z":"c0d9d2a7.dbc33","name":"Log everything","info":"","x":260,"y":340,"wires":[]},{"id":"684aac05.13c434","type":"debug","z":"c0d9d2a7.dbc33","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":1080,"y":420,"wires":[]},{"id":"7f5104b8.132ffc","type":"mysql","z":"c0d9d2a7.dbc33","mydb":"8c9d7011.83a2d","name":"iot_sensor_data","x":760,"y":420,"wires":[["684aac05.13c434"]]},{"id":"6d6b27ea.8871c8","type":"mqtt out","z":"10cb3090.c7736f","name":"MQTT-out","topic":"sufragerie/RGBW_LED","qos":"2","retain":"","broker":"68b66974.056238","x":1190,"y":480,"wires":[]}]